<br>
<span>Congrats! Your computer appears to have its basic functions intact! If you are still having problems, you can <a href="http://support.apple.com">make an appointment</a> at your nearest Apple Store. </span>
<br>