<br>
<span>Congrats! Your computer appears to have its basic functions intact! 
  <br>
  Please take this opportunity to back up your computer!
  <br>If you are still having problems, you can <a href="http://support.apple.com" target="_blank">make an appointment</a> at your nearest Apple Store. </span>
<br>