<br>
<span>Sorry dude, you are beyond the basic troubleshooting presented here. You should <a href="http://support.apple.com" target="_blank">make an appointment</a> at your nearest Apple Store. </span>
<br>