<div class="info">Does it boot to a  blank grey screen with nothing on it and just sit there?
  <br> 
</div>


<%= button_to "Yes", verbose_path, :method => "get" %>
<br>
<%= button_to "No", greyoptions_path, :method => "get" %>
<br>