
<div class="info">Does your computer boot to a grey screen with a:
  <br> 
</div>


<%= button_to "Prohibitory Sign", safemode_path, :method => "get" %>
<br>
<%= button_to "Folder", folder_path, :method => "get" %>
<br>
<%= button_to "Globe", resetpram_path, :method => "get" %>