<div class="info">You may be having some operating system issues that are causing instability. You may also have some third party plugins or kernel extensions causing issues. You should <a href="http://support.apple.com/kb/ph5821" target="_blank">repair disk permissions</a> and restart your computer. Does your computer appear to be booting normally after this?
 <br>
</div>


<%= button_to "Yes", congrats_path, :method => "get" %>
<br>
<%= button_to "No", reinstall_path, :method => "get" %>
<br>