<div class="info">You may be having some operating system issues that are causing instability. You may also have some third party plugins or kernel extensions causing issues. You should repair your disk permissions and restart your computer. Does your computer appear to be booting normally after this?
 <br> 
  <a href="http://support.apple.com/kb/ph5821">How Do I Do That?</a>
</div>


<%= button_to "Yes", congrats_path, :method => "get" %>
<br>
<%= button_to "No", reinstall_path, :method => "get" %>
<br>