

<div class="info">When you push the power button, does anything happen?
  <br> 
</div>


<%= button_to "Yes", greyscreen_path, :method => "get" %>
<br>
<%= button_to "No", nopower_path, :method => "get" %>

<a href="https://support.apple.com">Apple Support</a>