

<div class="info">When you push the power button does anything happen?
  <br> 
</div>

<%= button_to "Yes", greyscreen_path, :method => "get" %>
<br>
<%= button_to "No", nopower_path, :method => "get" %>
<br>

<a href="https://support.apple.com" target="_blank">Apple Support</a>