<div class="info">When the white text was running by, did you see any messages including the phrase "i/o error" ?
  <br> 
</div>


<%= button_to "Yes", failedhd_path, :method => "get" %>
<br>
<%= button_to "No", reinstall_path, :method => "get" %>