
<div class="info">Reset your SMC. Does it power on now?
  <br> 
  <a href="http://support.apple.com/kb/ht3964">How Do I Do That?</a>
</div>


<%= button_to "Yes", greyscreen_path, :method => "get" %>
<br>
<%= button_to "No", go_to_store_path, :method => "get" %>
<br>