
<div class="info"><a href="http://support.apple.com/kb/ht3964" target="_blank">Reset your SMC.</a> Does it power on now?
  <br> 
</div>


<%= button_to "Yes", greyscreen_path, :method => "get" %>
<br>
<%= button_to "No", go_to_store_path, :method => "get" %>
<br>