
<div class="info">Try reinstalling your operating system from your recovery partition. This may take several hours depending on your internet connection. There is a possibility that all data my be lost during this process. After a reinstall are you able to boot normally? 
  <br> 
  <a href="http://support.apple.com/kb/PH10763">How Do I Do That?</a>
</div>


<%= button_to "Yes", congrats_path, :method => "get" %>
<br>
<%= button_to "No", greyscreen_path, :method => "get" %>