
<div class="info">Boot into <a href="http://support.apple.com/kb/HT1564?viewlocale=en_US" target="_blank">Safe Mode</a>. You should expect to see a progress bar under the apple logo during start up. If you can log in, shut down your computer and boot it normally. Does your computer boot normally?
  <br> 
  <a href="http://support.apple.com/kb/HT1564?viewlocale=en_US" target="_blank">Safe Mode</a>
</div>


<%= button_to "Yes", congrats_path, :method => "get" %>
<br>
<%= button_to "No", verbose_path, :method => "get" %>
<br>