
<div class="info">Boot your computer into <a href="http://support.apple.com/kb/ht1492" target="_blank">Verbose Mode</a>. Does it show white text on a black background and then boot normally?
  <br> 
</div>


<%= button_to "Yes", hdstillboots_path, :method => "get" %>
<br>
<%= button_to "No", ioerrors_path, :method => "get" %>
<br>