<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200' rel='stylesheet' type='text/css'>
  <title>Fixmycomputer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<span class="title">Troubleshoot My Startup Issues</span><br>

<%= yield %>

<footer>This app is in no way associated with Apple Inc.</footer>
</body>
</html>
